absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1606235483308/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1612745527973/work/dist
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backports.functools-lru-cache==1.6.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
ci-info==0.2.0
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
configobj==5.0.6
configparser==5.0.1
conllu==4.4
contextvars==2.4
cycler==0.10.0
Cython==0.29.17
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1602075176424/work
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@31eed14e86e223192fa52ad2b6c06a9fe96a1341
elmoformanylangs==0.0.4.post2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
etelemetry==0.2.2
filelock==3.0.12
fitz==0.0.1.dev2
Flask==2.0.1
future @ file:///home/conda/feedstock_root/build_artifacts/future_1610147328086/work
fvcore @ file:///home/conda/feedstock_root/build_artifacts/fvcore_1613743026256/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1604365516153/work
h5py==3.1.0
httplib2==0.19.0
idna==2.10
immutables @ file:///tmp/build/80754af9/immutables_1613500267006/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1610355168193/work
iopath==0.1.4
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1613852943625/work/dist/ipykernel-5.5.0-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1610375432619/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1612125253553/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1613709436598/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1613618627584/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1613760084674/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1604322294766/work
lxml==4.6.2
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1603668500820/work
MarkupSafe==2.0.1
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1594091701667/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1605115652956/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1610352513187/work
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
networkx==2.5
nibabel==3.2.1
nipype==1.6.0
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1594379821643/work
numpy==1.18.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.1.48
overrides==3.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.1.5
pandocfilters==1.4.2
pathlib==1.0.1
pdf2image==1.14.0
pdfminer.six==20200104
pdfplumber==0.5.22
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.1.0
portalocker @ file:///home/conda/feedstock_root/build_artifacts/portalocker_1610360244026/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit==1.0.15
protobuf==3.15.1
prov==2.0.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycocotools @ file:///home/conda/feedstock_root/build_artifacts/pycocotools_1602612080491/work
pycryptodome==3.10.1
pydot==1.2.4
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1613412098605/work
PyMuPDF==1.16.14
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1605115583744/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pyxnat==1.4
PyYAML==5.3.1
pyzmq==19.0.2
rdflib==5.0.0
regex==2020.11.13
requests==2.25.1
scipy==1.5.4
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.17.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1610318313243/work
sortedcontainers==2.3.0
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1613619560231/work
tensorboard==1.15.0
termcolor==1.1.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1609794172494/work
testpath==0.4.4
torch==1.7.1
torchsummary==1.5.1
torchvision==0.8.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1604105020994/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1613628259277/work
traitlets==4.3.3
traits==6.2.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
tzlocal==2.1
unicodecsv==0.14.1
urllib3==1.26.3
Wand==0.6.5
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==2.0.1
yacs==0.1.6
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
