<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Demo</title>
<!--
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


</script>

</head>
<body>
<div class="bs-example">
    <h3>Multimodal Approach for Metadata Extraction from German Scientific Publications</h3>
</div>

<div class="container">
	
	<form action="{{ url_for('predict') }}" method="post">
		<div class="col-auto">
			<input type="file" class="form-control" id="inputGroupFile02">
			<div class="col-auto">
				<button type="submit" class="btn btn-primary mb-3">Predict</button>
			</div>
		</div>
	</form>
  <hr>
  
  <div class="row">
    <div class="col-sm-4">
        <div class="image">doc first page image preview</div>
    </div>
    <div class="col-sm-8">
        <!--<div class="demo-content bg-alt">.col-xs-8</div> -->
        
        <form>
	    <div class="mb-3">
		<label for="author" class="col-sm-2 col-form-label">Author</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="author" readonly>
		</div>
	    </div>
	    <div class="mb-3">
		<label for="title" class="col-sm-2 col-form-label">Title</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="title" readonly>
		</div>
	    </div>
	    <div class="mb-3">
		<label for="affiliation" class="col-sm-2 col-form-label">Affiliation</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="affiliation" readonly>
		</div>
	    </div>
	    <div class="mb-3">
		<label for="date" class="col-sm-2 col-form-label">Date</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="date" readonly>
		</div>
	    </div>
	    <div class="mb-3">
		<label for="journal" class="col-sm-2 col-form-label">Journal</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="journal" readonly>
		</div>
	    </div>
	    <div class="mb-3">
		<label for="address" class="col-sm-2 col-form-label">Address</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="address" readonly>
		</div>
	    </div>
	    <div class="mb-3">
		<label for="Abstract" class="col-sm-2 col-form-label">Abstract</label>
		
		<div class="col-sm-10">
		    <textarea class="form-control" id="abstract" rows="3" readonly></textarea>
		</div> 
	    </div>
	    <div class="mb-3">
		<label for="doi" class="col-sm-2 col-form-label">DOI</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="doi" readonly>
		</div>
	    </div>
	    <div class="mb-3">
		<label for="email" class="col-sm-2 col-form-label">E-mail</label>
		<div class="col-sm-10">
		    <input type="text" class="form-control" id="email" readonly>
		</div>
	    </div>
	    
	</form>
        
        
        
    </div>
  </div>
  
  
</div>



</body>
</html>
